<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Navbar Component</title>
</head>
<body>
    <header class="navigation dark">
        <nav class="full-container">
            <input type="checkbox" name="menu-checkbox" class="menu-checkbox" id="menu-checkbox" unchecked>

            <div class="group-container navigation-container">
                <div class="group-element navigation-element image-container logo-container">
                    <a class="logo-link" href="/pages/test.html">
                        <img class="image-element logo-element" src="/assets/logo/proline_logo_1024x256-Transparent.png" alt="Proline Air Logo">
                    </a>
                </div>
                <div class="group-element navigation-element hidden-element list-container">
                    <ul class="list-collection">
                        <li class="list-element"><a href="#services">Services</a></li>
                        <li class="list-element"><a href="#about">About</a></li>
                        <li class="list-element highlight"><a href="/pages/contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="group-element navigation-element hidden-element button-container">
                    <button class="button-element">0416 344 313</button>
                </div>
                <div class="group-element navigation-element  menu-container">
                    <label class="menu-element" for="menu-checkbox">
                        <div class="menu-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </label>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>