
/* --------------------------------------------------------------------------------------------------------------- */
:root{
    /* Colors */
    --color-accent: #6EC1B3;
    --color-accent-dark: #4C6C6C;
    --color-accent-light: #72c9bf;
    --color-highlight: #7Ed1c3;
    --color-black: #000;
    --color-dark: #241C24;
    --color-grey: #5C5F5F;
    --color-light: #eee;
    --color-white: #fff;
    --color-clear: #000;

    --color-svg-accent: invert(70%) sepia(42%) saturate(363%) hue-rotate(120deg) brightness(95%) contrast(79%);
    --color-svg-accent-dark: invert(41%) sepia(9%) saturate(968%) hue-rotate(131deg) brightness(93%) contrast(95%);
    --color-svg-accent-light: invert(83%) sepia(13%) saturate(1089%) hue-rotate(122deg) brightness(89%) contrast(82%);
    --color-svg-highlight: invert(78%) sepia(20%) saturate(584%) hue-rotate(120deg) brightness(94%) contrast(95%);
    --color-svg-black: invert(0%) sepia(100%) saturate(5580%) hue-rotate(353deg) brightness(96%) contrast(107%);
    --color-svg-dark: invert(10%) sepia(14%) saturate(831%) hue-rotate(251deg) brightness(97%) contrast(95%);
    --color-svg-grey: invert(39%) sepia(6%) saturate(173%) hue-rotate(131deg) brightness(88%) contrast(87%);
    --color-svg-light: invert(99%) sepia(6%) saturate(228%) hue-rotate(213deg) brightness(111%) contrast(87%);
    --color-svg-white: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    
    --color-dark-transparent-semi:#000000bb;
    --color-dark-transparent-half:#00000088;
    --color-dark-transparent-quarter:#00000044;
    --color-dark-transparent-tenth:#0000001B;

    --color-dark-transparent-semi:#241C24bb;
    --color-dark-transparent-half:#241C2488;
    --color-dark-transparent-quarter:#241C2444;
    --color-dark-transparent-tenth:#241C241B;

    --color-highlight-transparent-semi:#7Ed1c3BB;
    --color-highlight-transparent-half:#7Ed1c388;
    --color-highlight-transparent-quarter:#7Ed1c344;
    --color-highlight-transparent-tenth:#7Ed1c31B;

    --shadow-light: drop-shadow(0 var(--spacing-md) var(--spacing-md) (--color-dark-transparent-tenth));
    --shadow-medium: drop-shadow(0 var(--spacing-md) var(--spacing-md) var(--color-dark-transparent-quarter));
    --shadow-heavy: drop-shadow(0 var(--spacing-md)  var(--spacing-md) var(--color-dark-transparent-half));
    --shadow-dark: drop-shadow(0 var(--spacing-md)  var(--spacing-md) var(--color-dark-transparent-semi));

    --shadow-glow: drop-shadow(0 0 24px var(--color-highlight-transparent-semi));  
    --shadow-glow-full: drop-shadow(0 2px 1px var(--color-highlight)) drop-shadow(0 0 16px var(--color-highlight));

    /* TEXT */
    --font-secondary:  'roboto', serif;
    --font-heading: 'roboto', sans-serif;
    --font-body: 'roboto', san-serif;
    
    --weight-light: 300;
    --weight-body: 400;
    --weight-sharp: 500;
    --weight-heading: 600;
    --weight-bold: 700;
    --weight-super: 900;

    /* FONT-SIZE */
    --font-text-size: 1rem;
    --font-p-size: 1rem;
    --font-blockquote-size: 1rem;
    --font-li-size: 1.1rem;
    --font-h1-size: 6rem;
    --font-h2-size: 4rem;
    --font-h3-size: 2.5rem;
    --font-h4-size: 2rem;
    --font-h5-size: 1.75rem;
    --font-h6-size: 1.25rem;
    --font-secondary-size: 0.9rem;
    --font-navlink-size: 1.25rem;
    --font-button-size: 1rem;
    
    --p-line-height: 1.5rem;
    --li-line-height: calc(var(--font-li-size) * 2);
    --h1-line-height: 6rem;
    --h2-line-height: 4rem;
    --secondary-line-height: 1.25rem;
    
    /* SPACING VARIABLES */
    --max-width: 1440px;

    --spacing-sm: 16px;
    --spacing-md: 32px;
    --spacing-lg: 64px;
    --spacing-xl: 128px;
    --spacing-super: 256px;

    --navigation-bar-sm: 64px;
    --navigation-bar-md: 128px;
    --navigation-bar-lg: 192px;
    --navigation-bar-xl: 256px;
    --navigation-bar-size: var(--navigation-bar-md);

    --footer-sm: 30vh;
    --footer-md: 192px;
    --footer-lg: 50vh;
    --footer-xl: 512px;
    --footer-size: var(--footer-sm);

    --letter-spacing-std: 0px;
    --letter-spacing-sm: 0.25px;
    --letter-spacing-md: 0.5px;
    --letter-spacing-lg: 1.25px;
    --letter-spacing-xl: 3px;
    --letter-spacing-n-sm: -0.25px;
    --letter-spacing-n-md: -0.5px;
    --letter-spacing-n-lg: -1.25px;
    --letter-spacing-n-xl: -3px;

    --border-radius-sm: 4px;
    --border-radius-md: 16px;
    --border-radius-lg: 32px;
    --border-radius-round: 50%;

    --icon-sm: 16px;
    --icon-md: 32px;
    --icon-lg: 52px;
    --icon-xl: 128px;

    --image-sm: 256px;
    --image-md: 512px;
    --image-lg: 1024px;
    --image-xl: 2048px;

    /* ANIMATION */
    --transition-fast: 100ms;
    --transition-normal: 250ms;
    --transition-slow: 500ms;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* ALTERNATORS */

/* PRIMARY */
p.primary,
h1.primary,
h2.primary,
h3.primary,
h4.primary,
h5.primary,
h6.primary,
a.primary,
ul.primary,
ol.primary,
li.primary,
.clear.primary,
.hover-primary:hover,
.clear.hover-primary:hover,
blockquote.primary
{
    color: var(--color-accent);
}

main.primary,
section.primary,
header.primary,
footer.primary,
nav.primary,
div.primary,
button.hover-primary:hover,
button.primary {
    background-color: var(--color-accent);
    color: var(--color-white);
}

/* PRIMARY */
p.secondary,
h1.secondary,
h2.secondary,
h3.secondary,
h4.secondary,
h5.secondary,
h6.secondary,
a.secondary,
ul.secondary,
ol.secondary,
li.secondary,
.clear.secondary,
.hover-secondary:hover,
.clear.hover-secondary:hover,
blockquote.secondary
{
    color: var(--color-grey);
}

main.secondary,
section.secondary,
header.secondary,
footer.secondary,
nav.secondary,
div.secondary,
button.hover-secondary:hover,
button.secondary {
    background-color: var(--color-grey);
    color: var(--color-white);
}

/* BLACK */
p.black,
h1.black,
h2.black,
h3.black,
h4.black,
h5.black,
h6.black,
a.black,
ul.black,
ol.black,
li.black,
.clear.black,
.hover-black:hover,
.clear.hover-black:hover,
blockquote.black
{
    color: var(--color-black);
}

main.black,
section.black,
header.black,
footer.black,
nav.black,
div.black,
button.hover-black:hover,
button.black {
    background-color: var(--color-black);
    color: var(--color-white);
}

/* WHITE */
p.white,
h1.white,
h2.white,
h3.white,
h4.white,
h5.white,
h6.white,
a.white,
ul.white,
ol.white,
li.white,
.clear.white,
.hover-white:hover,
.clear.hover-white:hover,
blockquote.white {
    color: var(--color-white);
}

main.white,
section.white,
header.white,
footer.white,
nav.white,
div.white,
button.hover-white:hover,
button.white {
    background-color: var(--color-white);
    color: var(--color-black);
}

/* DARK */
p.dark,
h1.dark,
h2.dark,
h3.dark,
h4.dark,
h5.dark,
h6.dark,
a.dark,
ul.dark,
ol.dark,
li.dark,
.clear.dark,
.hover-dark:hover,
.clear.hover-dark:hover,
blockquote.dark
{
    color: var(--color-dark);
}

main.dark,
section.dark,
header.dark,
footer.dark,
nav.dark,
div.dark,
button.hover-dark:hover,
button.dark {
    background-color: var(--color-dark);
    color: var(--color-light);
}

/* LIGHT */
p.light,
h1.light,
h2.light,
h3.light,
h4.light,
h5.light,
h6.light,
a.light,
ul.light,
ol.light,
li.light,
.clear.light,
.hover-light:hover,
.clear.hover-light:hover,
blockquote.light
{
    color: var(--color-light);
}

main.light,
section.light,
header.light,
footer.light,
nav.light,
div.light,
button.hover-light:hover,
button.light {
    background-color: var(--color-light);
    color: var(--color-dark);
}

/* CLEAR */
main.clear,
section.clear,
header.clear,
footer.clear,
nav.clear,
div.clear,
button.clear {
    background: none;
    color: var(--color-clear);
}
button.clear:hover {
    background: none;
    color: var(--color-highlight);
}

/* HIGHLIGHT */
p.highlight,
h1.highlight,
h2.highlight,
h3.highlight,
h4.highlight,
h5.highlight,
h6.highlight,
a.highlight,
ul.highlight,
ol.highlight,
li.highlight,
blockquote.highlight
{
    color: var(--color-highlight);
}


main.highlight,
section.highlight,
header.highlight,
footer.highlight,
nav.highlight,
div.highlight,
button.highlight {
    background-color: var(--color-highlight);
    color: var(--color-white);
}

.hidden {
    display: none;
}

.glow:hover {
    filter: var(--shadow-glow);
}

/* --------------------------------------------------------------------------------------------------------------- */
/* Element Styles */
p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
ul{
    margin: 0 0 var(--spacing-sm) 0;
    padding: 0;
}

/* GENERAL TEXT */
p{
    font-family: var(--font-body);
    font-size: var(--font-p-size);
    line-height: var(--p-line-height);
    font-weight: var(--weight-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    font-weight: var(--weight-heading);
    margin: 0 0 var(--spacing-lg) 0;
    letter-spacing: var(--letter-spacing-std);
}

h1 {
    font-size: var(--font-h1-size);
    letter-spacing: var(--letter-spacing-n-lg);
}

h2 {
    font-size: var(--font-h2-size);
    line-height: var(--h2-line-height);
    letter-spacing: var(--letter-spacing-n-sm);
}

h3 {
    font-size: var(--font-h3-size);
}

h4 {
    font-size: var(--font-h4-size);
    letter-spacing: var(--letter-spacing-sm);
}

h5 {
    font-size: var(--font-h5-size);
    letter-spacing: var(--letter-spacing-md);
}

h6 {
    font-size: var(--font-h6-size);
    letter-spacing: var(--letter-spacing-lg);
}

blockquote {
    font-weight: var(--weight-bold);
    font-size: var(--font-blockquote-size);
    position: relative;
    display: inline-block;
}
blockquote::before {
    content: "“";
    position: relative;
    font-size: calc(var(--font-blockquote-size) * 1.5);
}
blockquote::after {
    content: "”";
    position: relative;
    font-size: calc(var(--font-blockquote-size) * 1.5);
}

ul {
    list-style: none;
}

li {
    font-family: var(--font-body);
    font-weight: var(--weight-sharp);
    font-size: var(--font-li-size);
    line-height: var(--li-line-height);
}

/* GENERAL INTERACTABLE ELEMENTS */
a {
    text-decoration: none;
    font-weight: var(--weight-bold);
    color: var(--color-accent);
    transition: color 0.25s ease;
}

a:hover {
    text-decoration: underline;
    color: var(--color-highlight);
}

button {
    font-family: var(--font-body);
    font-size: var(--font-button-size);
    font-weight: var(--weight-super);
    letter-spacing: var(--letter-spacing-lg);
    
    
    color: var(--color-light);
    background-color: var(--color-accent);
    border-radius: var(--border-radius-lg);
    border: none;
    
    padding: var(--spacing-sm) var(--spacing-md);
    transition: background-color 0.15s ease, color 0.15s ease;
}

button:hover {
    background-color: var(--color-highlight);
    color: var(--color-white);
    cursor: pointer;
}

input,
textarea {
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-accent-dark);
    border-radius: var(--border-radius-sm);
    padding: calc(var(--font-text-size) / 2);
    box-sizing: border-box;
}

input:hover,
textarea:hover {
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-accent);
}

input:focus, 
textarea:focus {
    outline: none;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-highlight);
}

textarea {
    resize: none; 
}



img {
    box-sizing: border-box;
    margin: 0 0 var(--spacing-md) 0;
}

img.icon {
    width: var(--icon-lg);
    height: var(--icon-lg);
}

img.auto {
    width: auto;
    max-width: 100%;
}

img.hero{
    width: 100%;
    height: auto;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* Layout Styles */


html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-light);
}

body, main, .fill-container {
    font-family: var(--font-body);
    color: var(--color-dark);    
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    /* --footer-size: 0px; */
    min-height: calc(100vh - var(--navigation-bar-size) - var(--footer-size));
}

body,
main,
.fill-container,
header,
section,
footer,
.navbar,
.section-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fill-container {
    justify-content: center;
    align-items: center;
}


header,
footer {
    text-align: center;
}

section.background {
    position: relative;
    z-index: -1;
}

section.background.primary,
section.background.secondary,
section.background.black,
section.background.white,
section.background.dark,
section.background.light,
section.background.highlight {
    background: none;
}



@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-left {
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.animate-on-scroll.animate-on-scroll-visible {
    opacity: 1;
    transform: translateX(0);
}

.animate-on-scroll {
    opacity: 0;
    transform: translateX(-300px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    will-change: opacity, transform;
}


section.background::before {
    content: "";
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: calc(200% + var(--spacing-lg));
    transform: skewy(-10deg);
    z-index: -2;
}

section.primary.background::before {
    background-color: var(--color-accent);
}

.section-container {
    max-width: var(--max-width);
    padding: var(--spacing-lg) var(--spacing-md) var(--spacing-md) var(--spacing-md);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-sm);
}

.span-max {
    grid-column: 1 / -1;
}

.flex-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}


.card {
    width: 100%;
    box-sizing: border-box;
    padding: 32px;
    border-radius: var(--border-radius-lg);
    filter: var(--shadow-medium);
    overflow: hidden;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* Special Elements */

.logo {
    position: relative;
}

.logo::after {
    content: "";
    background-image: url('../assets/logo/proline_logo_1024x1024_Transparent.webp');
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ui {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: var(--icon-lg);
    height: var(--icon-lg);
}

.ui::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.25);
    width: calc(var(--icon-lg));
    height: calc(var(--icon-lg));
    background: var(--color-dark);
    border-radius: var(--border-radius-round);
}

.hamburger:hover {
    filter: var(--shadow-glow);
}

.hamburger:hover::before {
    background-color: var(--color-light);
}

.hamburger-icon {
    width: var(--icon-lg);
    height: var(--icon-md);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

.hamburger-icon span {
    width: 100%;
    height: 3px;
    border-radius: var(--border-radius-md);
    background-color: var(--color-accent);
    position: absolute;
    transition: transform var(--transition-slow) ease, opacity var(--transition-slow) ease;
}

.hamburger:hover .hamburger-icon span {
    background-color: var(--color-dark);
}


.hamburger-icon span:nth-child(1) {
    top: 0;
}

.hamburger-icon span:nth-child(2) {
    top: 50%;
}

.hamburger-icon span:nth-child(3) {
    top: 100%;
}

.hamburger-icon:hover {
    filter: var(--shadow-glow);
}

#menu-check:checked ~ .hamburger .hamburger-icon span {
    top: 50%;
}


#menu-check:checked ~ .hamburger .hamburger-icon span:nth-child(1) {
    transform: rotate(45deg);
}

#menu-check:checked ~ .hamburger .hamburger-icon span:nth-child(2) {
    opacity: 0;
    transform: scaleX(0);
}

#menu-check:checked ~ .hamburger .hamburger-icon span:nth-child(3) {
    transform: rotate(-45deg);
}

@keyframes topButtonIn {
    0% {
        opacity: 0;
        transform: translateY(100px) rotate(-90deg) scale(1.25);
    }
    100% {
        opacity: 1;
        transform: translateY(0) rotate(-90deg) scale(1.25);
    }
}

@keyframes topButtonOut {
    0% {
        opacity: 1;
        transform: translateY(0) rotate(-90deg) scale(1.25);
    }
    100% {
        opacity: 0;
        transform: translateY(100px) rotate(-90deg) scale(1.25);
    }
}


.top-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: var(--icon-lg);
    height: var(--icon-lg);
    z-index: 2;
}


.top-button-visible {
    animation: topButtonIn 1s ease forwards;
}

.top-button-hidden {
    animation: topButtonOut 1s ease forwards;
}


.top-button > .icon {
    width: var(--icon-lg);
    height: var(--icon-lg);
    position: relative;
}

.top-button > .icon::before {
    content: "";
    position: absolute;
    width: var(--icon-lg);
    height: var(--icon-lg);
    border-radius: calc(var(--border-radius-round));
    background-color: var(--color-light);
    top: 0;
    left: 0;
    transform: scale(0.9);
    z-index: 0;
}

.top-icon {
    filter: var(--color-svg-accent);
}

.top-button:hover .top-icon {
    filter: var(--color-svg-white);
}

.top-button:hover .icon::before {
    background-color: var(--color-dark);
    filter: var(--shadow-glow);
}


.top-icon span {
    width: 75%;
    height: 3px;
    border-radius: var(--border-radius-md);
    background-color: var(--color-accent);
    position: absolute;
    top: 50%;
    transform-origin: 0%;
    transition: transform var(--transition-slow) ease, opacity var(--transition-slow) ease;
}

.top-icon span:nth-child(1) {
    transform: rotate(45deg);
}

.top-icon span:nth-child(2) {
    transform: rotate(-45deg);
}


/* --------------------------------------------------------------------------------------------------------------- */
/* MAIN NAVBAR */

#top {
    margin: 0 0 var(--navigation-bar-size) 0;
}


.navigation {
    margin: 0;
    position: fixed;
    z-index: 1;
    padding: 0 var(--spacing-md);
    /* filter: var(--shadow-glow-full) var(--shadow-medium); */
 }

 .fixed-navbar {
    position: fixed;
    z-index: 1;
}

 .navbar {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: var(--navigation-bar-size);
    align-items: center;
    justify-content: center;
 }

.navbar > .logo{
    height: 100%;
    width: auto;
    transition: filter var(--transition-normal) ease;
}

 .navbar > .logo:hover {
    filter: var(--shadow-glow-full);   
}

.navbar > .links {
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.navbar > .links li {
    /* padding: 0 var(--spacing-lg); */
}

.navbar > .links a {
    font-size: var(--font-navlink-size);
    font-weight: var(--weight-bold);
    color: var(--color-white);
    transition: filter var(--transition-fast) ease-in;
}

.navbar > .links a:hover {
    filter: var(--shadow-glow);   
    color: var(--color-highlight); 
}

.navbar > .quote {
    transition: filter var(--transition-fast) ease-in;
}

.navbar > .quote:hover {
    filter: var(--shadow-glow);
}

.menu {
    width: 8rem;
    max-width: 40%;
    height: clamp(500px, 50%, 600px);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;

    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--color-white);
    color: var(--color-dark);
    filter: var(--shadow-heavy);

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: transform var(--transition-slow) ease, opacity var(--transition-slow) linear;
    transform: translateX(100%);
    opacity: 0;
}

.menu > .links > li {
    padding: var(--spacing-lg) 0;
}

.navbar #menu-check, .menu {
    display: none;
}

.navbar #menu-check:checked ~ .menu {
    opacity: 1;
    transform: translateX(0);
}

.navbar .hamburger {
    display: none;
    position: fixed;
    right: 2rem;
    z-index: 2;
}

/* --------------------------------------------------------------------------------------------------------------- */
/* FOOTER  */
footer > .section-container {
    text-align:center;
    padding: var(--spacing-md);
}

.footer > .section-container {
    min-height: 30vh;
    max-height: 50vh;
    box-sizing: border-box;
    justify-content: center;
}

.footer-grid {
    align-items: center;
}

.footer-grid .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-grid .links li{
    margin: 0 var(--spacing-md);
}

/* Footer */
.footer-grid, .social-container {
    width: 100%;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: var(--spacing-sm) var(--spacing-sm);
}

.icon > img {
    width: var(--icon-lg);
    margin: 0 var(--spacing-sm);
    filter: var(--color-svg-accent);
    transition: filter var(--transition-normal) ease;
}

.footer-grid .social-container .icon {
    position: relative;
}

.icon::before {
    content: "";
    position: absolute;
    width: var(--icon-lg);
    height: var(--icon-lg);
    border-radius: calc(var(--border-radius-md));
    background-color: var(--color-white);
    margin: 0 var(--spacing-sm);
    top: 0;
    left: 0;
    z-index: 0;
}

a:hover > .icon > img {
    filter: var(--color-svg-white);
}

a:hover > .icon::before {
    background-color: var(--color-dark);
}

.footer-grid a {
    color: var(--color-white);
}

a:hover > .icon {
    filter: var(--shadow-glow);
    color: var(--color-highlight);
}

.footer-grid a:hover > .icon {
    filter: var(--shadow-glow);
    color: var(--color-highlight);
}

.copyright .section-container {
    justify-content: center;
    align-items: center;
    min-height: 5vh;
}

.copyright p {
    font-size: var(--font-secondary-size);
    font-weight: var(--weight-super);
    letter-spacing: 1.5px;
    position: relative;
}
/* --------------------------------------------------------------------------------------------------------------- */


.input-container,
.button-container,
.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.input-element,
.button-element,
.text-element{
    width: 100%;
}

form.grid-container { 
    width: 50vw;
    max-width: 750px;
}
